{% extends 'layout.html' %}

{% block body %}
{% load static %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container">
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container">
        <div class="row">



          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Task Detail : {{taskobj.name}}</h3>
                <div class="card-tools">
                <a class="btn btn-info btn-sm" href="{% url 'timeentry' task_id=task_id %}">
                    <i class="fas fa-pencil-alt">
                    </i>
                    Timer Entry
                </a>

                </div>
              </div>
              <div class="card-body p-0">
                <div style="padding:20px;">
                  <h2>Estimated Time : {{taskobj.durationhours}} Hours : {{taskobj.durationminutes}} Minutes</h2>
                  <h2>Tracked Time : {{done}}</h2>
                  

                  <div class="progress">
                    <div class="progress-bar bg-success progress-bar-striped" role="progressbar"
                         aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%">
                      <span class="sr-only">{{progress}}% Complete (success)</span>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>



          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Time Entry List</h3>
              </div>
              <div class="card-body p-0">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Start</th>
                      <th>End</th>
                      <th>Duration</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in time_entry_list %}
                    <tr>
                      <td>{{item.start_time}}</td>
                      <td>{{item.end_time}}</td>
                      <td>{{item.durationminutes}} Minutes : {{item.durationseconds}} Seconds</td>
                    </tr>  
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>




        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


  {% endblock %}