{% extends 'layout.html' %}

{% block body %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container">
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container">
        <div class="row">



          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">{{page_header}}</h3>
                <div class="card-tools">
                  <a class="btn btn-info btn-sm" href="{% url 'tasknew' project_id=project_id %}">
                    <i class="fas fa-pencil-alt">
                    </i>
                    New Task
                </a>

                </div>
              </div>
              <div class="card-body p-0">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Task</th>
                      <th>Estimated Time</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in task_list %}
                    <tr>
                      <td><a href="{% url 'taskdetail' item.id %}">{{item.name}}</a></td>
                      <td>{{item.durationhours}} Hours : {{item.durationminutes}} Minutes</td>
                      <td class="project-actions text-right">
                        <a class="btn btn-info btn-sm" href="{% url 'taskedit' item.id %}">
                            <i class="fas fa-pencil-alt">
                            </i>
                            Edit
                        </a>
                        <a class="btn btn-danger btn-sm" href="{% url 'taskdelete' item.id %}">
                            <i class="fas fa-trash">
                            </i>
                            Delete
                        </a>
                      </td>
                    </tr>  
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>








        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


  {% endblock %}