{% extends 'layout.html' %}

{% block body %}
{% load static %}


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container">
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->











    <!-- Main content -->
    <div class="content">
      <div class="container">
        <div class="row">


            <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">New Timer Entry</h3>
                  </div>
                  <div class="card-body p-0">    
                    <form>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="duration">Minutes:</label>
                            <input type="text" class="form-control" name="minutes" id="minutes" ">
                        </div>
                        <div class="form-group">
                            <label for="duration">Seconds:</label>
                            <input type="text" class="form-control" name="seconds" id="seconds" ">
                        </div>

                    </div>  
                    <div class="card-footer">
                        <button type="submit" id="submitbut" class="btn btn-primary">Start Timer</button>
                    </div>
                    </form>                    
                  </div>
                </div>
              </div>





          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Clock</h3>
                <div class="card-tools">

                </div>
              </div>
              <div class="card-body p-0">

                <div id="countdown">
                <h1><span id="milsec"></span></h1>
                <audio preload="auto" id="audiocontrol" src="{% static 'dist/alarm.mp3' %}">
                    Your browser does not support the <code>audio</code> element.
                </audio>
                </div>

<script>
    document.getElementById("submitbut").addEventListener("click", function(event){
        event.preventDefault();
        minutes = document.getElementById("minutes").value;
        seconds = document.getElementById("seconds").value;
        msUntilMidnight = new Date().setHours(24,0,0,0) - Date.now()
        minutesUntilMidnight = (new Date().setHours(24,0,0,0) - Date.now()) / 60 / 1000
        if(isNaN(minutes)==true || isNaN(seconds)==true){
            alert("Please enter a valid number")
        } else {
            if(minutes*60*1000 < msUntilMidnight){
                duration = ((minutes*60)+seconds)*1000
                handle = setInterval(function() {
                    duration = duration-100
                    if(duration < 0){
                        clearInterval(handle)
                        document.getElementById("audiocontrol").play()
                    } else {
                        document.getElementById("milsec").innerText = duration;
                    }
                }, 100)
            } else {
                alert("Please enter a shorter period")
            }
        }
    });
</script>

              </div>
            </div>
          </div>







        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


  {% endblock %}